@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Noto Sans", sans-serif;
}

.main {
    width: 100vw;
    min-height: 100vh;
    margin-top: auto;
    position: fixed;
    display: flex;
    justify-content: center;
    /* padding: 120px 24px 160px 24px; */
    padding-top: auto;
    padding-right: 24px;
    padding-bottom: 160px;
    padding-left: 24px;
    pointer-events: auto;
}

.app {
    @apply relative z-10 flex justify-center items-center 
    flex-col max-w-7xl mx-auto sm:px-16 px-6 mt-4 bg-red-300;
}

.black_btn_nav {
    @apply rounded-none border border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm items-center justify-center w-1/2 ;
}

.black_btn_prj {
    @apply rounded-2xl border border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm items-center justify-center w-full ;
}

.dropdown {
    @apply relative right-0 top-full mt-0 w-auto p-3 rounded-sm min-w-full flex flex-col gap-1 justify-end items-end bg-slate-400 z-20 ;
  }

.black_btn_card {
    @apply rounded-2xl border border-black bg-black py-1.5 px-5 text-white hover:bg-gray-400 hover:text-black text-sm justify-between w-full flex flex-row ;
}

.transition_time {
    transition-duration: 800ms;
}

.transition_time_long {
    transition-duration: 3000ms;
}


