@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-2xl font-bold;
	}
	h2 {
		@apply text-xl font-semibold;
	}
}

body {
	font-family: "Noto Sans", sans-serif;
}

.main {
	background-color: darkgrey;
	width: 100%;
	min-height: 100%;
	margin-top: auto;
	height: auto;
	display: flex;
	justify-content: center;
	/* padding: 120px 24px 160px 24px; */
	padding-top: auto;
	/* padding-right: 24px; */
	pointer-events: auto;
}
.app {
	@apply relative z-10 flex justify-center items-center 
    flex-col max-w-7xl mx-auto sm:px-16 px-6 mt-4;
}

.black_btn_nav {
	@apply rounded-none border border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-base h-10 items-center justify-center w-1/2;
}

.black_btn_prj {
	@apply rounded-2xl border border-white bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black hover:border-black text-center text-sm items-center justify-center w-full;
}

.dropdown {
	@apply relative right-0 top-full mt-0 w-auto p-3 rounded-sm min-w-full flex flex-col gap-1 justify-end items-end z-20 bg-inherit;
}

.black_btn_card {
	@apply rounded-2xl border border-white bg-black py-1.5 px-5 text-white hover:bg-gray-400 hover:text-black hover:border-black text-sm justify-between w-full flex flex-row;
}

.learn_btn {
	@apply rounded-full border border-white bg-blue-600 py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm items-center justify-center w-auto;
}

.transition_time {
	transition-duration: 500ms;
}

.transition_time_long {
	transition-duration: 3000ms;
}

.link-primary {
	@apply text-blue-800 underline;
}

.pdf_view {
	width: 75vw;
	height: 75vw;
}

.button_green {
	padding: 1.3em 3em;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: #000;
	background-color: #fff;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}

.button_green:hover {
	background-color: #23c483;
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	color: #fff;
	transform: translateY(-7px);
}

.button_green:active {
	transform: translateY(-1px);
}

.button_red {
	padding: 1.3em 3em;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: #000;
	background-color: #fff;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}

.button_red:hover {
	background-color: #c42323;
	box-shadow: 0px 15px 20px rgba(229, 46, 46, 0.4);
	color: #fff;
	transform: translateY(-7px);
}

.button_red:active {
	transform: translateY(-1px);
}
